<h1>Todos</h1>

<ul>
    <% @todos.each do |todo| %>
      <li>
        <%= form_with model:todo, local: true do |form| %>
         <%= form.check_box :completed, checked: todo.completed,
             onchange:"this.form.submit();" %>
        <%= link_to todo.title, todo %>
        <% end %>
      </li>
    <% end %>
</ul>

<%= link_to "New Todo", new_todo_path %>

